<!--
  ~ #%L
  ~ chvote-bo
  ~ %%
  ~ Copyright (C) 2016 - 2019 République et Canton de Genève
  ~ %%
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  ~ #L%
  -->

<mat-card id="managementEntityEdit" class="parameter-edit" [class.read-only]="cardReadOnly" *ngIf="ready">
  <mat-card-header>
    <mat-card-title>{{'parameters.management-entity.title' | translate}}</mat-card-title>
    <mat-card-subtitle fxLayout="row" fxLayoutAlign="space-between">
      <span>{{'parameters.management-entity.subtitle' | translate}}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <management-entity-list [guestManagementEntities]="guestManagementEntities"
                            [possibleManagementEntities]="possibleManagementEntities">
    </management-entity-list>
  </mat-card-content>
  <mat-card-actions *ngIf="!readOnly">
    <div fxLayout fxLayoutAlign="end" fxLayoutGap="25px">
      <ng-container *roles="['REVOKE_MANAGEMENT_ENTITY']">
        <button mat-button
                id="revokeButton"
                color="accent"
                *ngIf="guestManagementEntities.length > 0"
                (click)="openRevokePopup()">
          <mat-icon>person_outline</mat-icon>
          <span>{{'parameters.management-entity.actions.revoke' | translate | uppercase}}</span>
        </button>
      </ng-container>
      <ng-container *roles="['INVITE_MANAGEMENT_ENTITY']">
        <button mat-button
                id="inviteButton"
                color="primary"
                *ngIf="possibleManagementEntities.length != guestManagementEntities.length"
                (click)="openInvitePopup()">
          <mat-icon>person_add</mat-icon>
          <span>{{'parameters.management-entity.actions.invite' | translate | uppercase}}</span>
        </button>
      </ng-container>
    </div>
  </mat-card-actions>
</mat-card>
