/*!
 * #%L
 * chvote-bo
 * %%
 * Copyright (C) 2016 - 2019 République et Canton de Genève
 * %%
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 * #L%
 */

.error-title {
  font-size: 2rem;
}

.error-icon {
  font-size: 3.4rem;
}

.upload-error {
  padding: 1.6rem;
}

.mat-column-fileName {
  flex: 1 0 10rem;
}

.mat-column-uploader {
  flex: 0 0 10rem;
}

.mat-column-uploadDate {
  flex: 0 0 8rem;
}

.mat-column-emitter {
  flex: 0 0 10rem;
}

.mat-column-emissionDate {
  flex: 0 0 8rem;
}

.mat-column-voterCount {
  flex: 0 0 10rem;
}

.mat-column-doiCount {
  flex: 0 0 10rem;
}

.mat-column-countingCircleCount {
  flex: 0 0 11rem;
}

.mat-column-detailedReport {
  flex: 0 0 7rem;
}
