<!--
  ~ #%L
  ~ chvote-bo
  ~ %%
  ~ Copyright (C) 2016 - 2019 République et Canton de Genève
  ~ %%
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  ~ #L%
  -->

<ng-container *ngIf="userBelongsToOperationManagementEntity">
  <ng-container *roles="['DEPLOY_VOTING_PERIOD']">
    <div *ngIf="isDeploymentInfoDisplayed" class="notification notification--deployment">
      <mat-card>
        <mat-card-content fxLayout fxLayoutAlign="space-between" *ngIf="isUploadButtonShown">
          <span fxFlexAlign="center">{{ "voting-period.notification.upload-voting-period.message" | translate}}</span>

          <button (click)="uploadVotingPeriodConfiguration()"
                  mat-raised-button
                  color="primary"
                  id="deploymentButton">
            <mat-icon>playlist_add_check</mat-icon>
            {{ 'voting-period.notification.upload-voting-period.button' | translate | uppercase }}
          </button>
        </mat-card-content>


        <mat-card-content fxLayout fxLayoutAlign="space-between" *ngIf="isRequestVotingPeriodCreationShown">
          <span
            fxFlexAlign="center">{{ "voting-period.notification.create-voting-period-request.message" | translate}}</span>
          <div class="external-action">
            <div class="action-title section-title">
              {{ 'voting-period.notification.create-voting-period-request.title' | translate }}
            </div>
            <div class="action-link">
              <a href="{{pactLink}}" target="pact" id="createRequestLink">
                <mat-icon>link</mat-icon>
                <span>{{ 'voting-period.notification.create-voting-period-request.pact-link' | translate }}</span>
              </a>
            </div>
          </div>
        </mat-card-content>


        <mat-card-content fxLayout fxLayoutAlign="space-between" *ngIf="isRequestVotingPeriodValidationShown">
          <span fxFlexAlign="center">{{ "voting-period.notification.validate-voting-period-request.message" | translate}}</span>

          <div class="external-action">
            <div class="action-title section-title">
              {{ 'voting-period.notification.validate-voting-period-request.title' | translate }}
            </div>
            <div class="action-link">
              <a href="{{pactLink}}" target="pact" id="validateRequestLink">
                <mat-icon>link</mat-icon>
                <span>{{ 'voting-period.notification.validate-voting-period-request.pact-link' | translate }}</span>
              </a>
            </div>
          </div>
        </mat-card-content>


      </mat-card>
    </div>
  </ng-container>

  <div *roles="['CLOSE_VOTING_PERIOD_IN_SIMULATION']" class="notification">
    <mat-card>
      <mat-card-content fxLayout fxLayoutAlign="space-between" *ngIf="isVotingPeriodClosable">
        <span fxFlexAlign="center">{{ "voting-period.notification.close-voting-period.message" | translate}}</span>

        <button (click)="closeVotingPeriod()"
                mat-raised-button
                color="primary"
                id="closeVotingPeriod"
                [disabled]="isCloseVotingPeriodInProgress">
          <mat-icon>playlist_add_check</mat-icon>
          {{ 'voting-period.notification.close-voting-period.button' | translate | uppercase }}
        </button>
      </mat-card-content>
    </mat-card>
  </div>

</ng-container>
