<!--
  ~ #%L
  ~ chvote-bo
  ~ %%
  ~ Copyright (C) 2016 - 2019 République et Canton de Genève
  ~ %%
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  ~ #L%
  -->

<div *ngIf="operationStatus.consistencyComputationInProgress"
     class="notification notification--consistency-in-progress">
  <mat-card>
    <mat-card-content fxLayout fxLayoutGap="1rem">
      <mat-icon>timelapse</mat-icon>
      <span fxFlexAlign="center">{{ "parameters.notification.info.consistency.in-progress" | translate}}</span>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="operationStatus.configurationConsistencyErrors.length > 0"
     class="notification notification--consistency-errors">
  <mat-card>
    <mat-card-content fxLayout fxLayoutGap="2.5rem">
      <mat-icon class="error-icon">warning</mat-icon>
      <div fxLayout="column" fxFlex="1 1 auto">
        <h2 class="error-title">{{ "parameters.notification.info.consistency.errors" | translate}}</h2>
        <ul>
          <li *ngFor="let error of operationStatus.configurationConsistencyErrors">
            {{ error.errorKey | translate:error.errorsParameters}}
          </li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>


<ng-container *ngIf="userBelongsToOperationManagementEntity">
  <div *ngIf="isTestSiteReadyForDeployment()" class="notification notification--deployment">
    <mat-card>
      <mat-card-content fxLayout fxLayoutAlign="space-between">
        <span fxFlexAlign="center">{{ "parameters.notification.info.ready-to-test" | translate}}</span>

        <button id="uploadConfigurationButton"
                mat-raised-button
                color="primary"
                (click)="uploadParameters()"
                *ngIf="!uploadInProgress">
          <mat-icon>cloud_upload</mat-icon>
          {{'parameters.notification.upload.button' | translate | uppercase}}
        </button>

      </mat-card-content>
    </mat-card>
  </div>


  <div *ngIf="isTestSiteInValidation()" class="notification">
    <mat-card>
      <mat-card-content fxLayout fxLayoutGap="5rem" fxLayoutAlign="center">
        <action-card
          color="accent"
          icon="cancel"
          buttonId="invalidateParametersButton"
          buttonLabel="parameters.notification.validation.invalidate.button"
          (action)="invalidateParameters()"
          *roles="['INVALIDATE_TEST_SITE']"
        >
        </action-card>
        <action-card
          color="primary"
          icon="check_circle"
          buttonId="validateParametersButton"
          buttonLabel="parameters.notification.validation.validate.button"
          (action)="validateParameters()"
          *roles="['VALIDATE_TEST_SITE']">
        </action-card>
      </mat-card-content>
    </mat-card>
  </div>


  <div *ngIf="isRequestDeploymentShown()" class="notification notification--deployment">
    <mat-card>
      <mat-card-content fxLayout fxLayoutAlign="space-between">
        <span fxFlexAlign="center">{{ "parameters.notification.info.can-request-deployment" | translate}}</span>

        <div class="external-action">
          <div class="action-title section-title">
            {{ 'parameters.notification.request-deployment.title' | translate }}
          </div>
          <div class="action-link">
            <a href="{{pactLink}}" target="pact" id="deploymentRequestLink">
              <mat-icon>link</mat-icon>
              <span>{{ 'parameters.notification.request-deployment.pact-link' | translate }}</span>
            </a>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>


  <div *ngIf="isValidateDeploymentShown()" class="notification notification--deployment">
    <mat-card>
      <mat-card-content fxLayout fxLayoutAlign="space-between">
        <span fxFlexAlign="center">{{ "parameters.notification.info.can-validate-deployment" | translate}}</span>

        <div class="external-action">
          <div class="action-title section-title">
            {{ 'parameters.notification.validate-deployment.title' | translate }}
          </div>
          <div class="action-link">
            <a href="{{pactLink}}" target="pact" id="deploymentValidationLink">
              <mat-icon>link</mat-icon>
              <span>{{ 'parameters.notification.validate-deployment.pact-link' | translate }}</span>
            </a>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>


</ng-container>
