<!--
  ~ #%L
  ~ chvote-bo
  ~ %%
  ~ Copyright (C) 2016 - 2019 République et Canton de Genève
  ~ %%
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  ~ #L%
  -->

<!DOCTYPE html>
<html>
<head>
  <title>Protractor HTML Reporter</title>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.1/css/lightbox.min.css">
  <style type="text/css">
    <%= styles %>
  </style>
  <meta charset="UTF-8">
</head>
<body>


<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <div class="project-name visible-md visible-lg"><%= reportName %></div>
      <div class="label-container">
        <span class="label label-success">Passed: <%= passed %></span>
        <span class="label label-danger">Failed: <%= failed %></span>
        <span class="label label-warning">Skipped: <%= pending %></span>
        <span class="label label-info">Time Elapsed: <%= timeElapsed %></span>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="info"><b>Browser:</b> <%= browser %> <%= browserVersion %></div>

  <%= drawSuites(suites) %>

  <%= drawSpecs(specs) %>


</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.1/js/lightbox.min.js"></script>

</body>
</html>




