<!--
  ~ #%L
  ~ chvote-bo
  ~ %%
  ~ Copyright (C) 2016 - 2019 République et Canton de Genève
  ~ %%
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  ~ #L%
  -->

<mat-card id="repositoryEdit" class="parameter-edit" [class.read-only]="readOnly">
  <mat-card-header>
    <mat-card-title>{{'parameters.repository.edit.title' | translate}}</mat-card-title>
    <mat-card-subtitle fxLayout="row" fxLayoutAlign="space-between">
      <span>{{'parameters.repository.edit.subtitle' | translate}}</span>
      <span *ngIf="!readOnly">{{'global.forms.fields.required' | translate}}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="no-padding">
    <slide-details (close)="detailsHasBeenClosed()">
      <slide-details-content id="repository-list-with-form">
        <ng-container *roles="['UPLOAD_REPOSITORY']">
          <div class="parameter-input" *ngIf="!readOnly && !inPartialModification">
            <upload-input placeholder="parameters.repository.edit.form.fields.inputFile.placeholder"
                          [uploadUrl]="uploadUrl"
                          fileAccept=".xml"
                          uploadIcon="file_upload"
                          uploadText="global.actions.import"
                          progressText="global.upload-progress"
                          (uploadStarted)="resetUploadResult()"
                          (uploadDone)="processUploadResult($event, false)">
            </upload-input>
          </div>

          <div class="parameter-input" *ngIf="isReplacementOpen">
            <h3 class="parameter-input-title">{{"parameters.repository.edit.actions.replace.title" | translate }}
              {{fileToReplace.fileName}} -
              {{"parameters.repository.edit.file-grid.contest" | translate:getContest(fileToReplace)}}</h3>

            <div class="replacement-form">
              <upload-input placeholder="parameters.repository.edit.actions.replace.place-holder"
                            [uploadUrl]="replaceUrl"
                            fileAccept=".xml"
                            uploadIcon="file_upload"
                            uploadText="parameters.repository.edit.actions.replace.button"
                            progressText="global.upload-progress"
                            (uploadStarted)="resetUploadResult()"
                            (uploadDone)="processUploadResult($event, true)">
              </upload-input>
            </div>
          </div>


        </ng-container>

        <div *ngIf="uploadResult && uploadResult.validationErrors.length > 0"
             id="validationErrors" class="parameter-error"
             fxLayout fxLayoutGap="25px">
          <mat-icon class="parameter-error-icon">warning</mat-icon>
          <span fxFlex fxFlexAlign="auto">{{ "global.errors.validation-error" | translate }}</span>
          <button mat-button color="primary"
                  id="validationErrorsDownloadButton"
                  (click)="downloadValidationReport()">
            <mat-icon>file_download</mat-icon>&nbsp;{{ "global.actions.error-report-download" | translate | uppercase }}
          </button>
        </div>

        <mat-table [hidden]="!repositories || repositories.length === 0 || isReplacementOpen"
                   [dataSource]="repositoriesDataSource" matSort
                   id="repositoriesGrid">

          <ng-container matColumnDef="managementEntity">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{"parameters.repository.edit.file-grid.header.management-entity" | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let file">
              <div>
                {{file.managementEntity}}
              </div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{"parameters.repository.edit.file-grid.header.type" | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let file">
              <div>
                {{"parameters.repository.edit.file-grid." + file.type | lowercase | translate}}
              </div>
            </mat-cell>
          </ng-container>


          <ng-container matColumnDef="file">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{"parameters.repository.edit.file-grid.header.file" | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let file">
              <div>
                <div class="md-body-2">{{"parameters.repository.edit.file-grid.contest" | translate:getContest(file)}}
                </div>
                <div><a href="#" (click)="download(file, $event)">{{file.fileName}}</a></div>
              </div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="author">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{"parameters.repository.edit.file-grid.header.author" | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let file">
              <div>
                {{file.login}}
              </div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="importedDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{"parameters.repository.edit.file-grid.header.imported-date" | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let file">
              <div>
                {{file.saveDate | date:'d.MM.yyyy'}}
              </div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
              {{"parameters.repository.edit.file-grid.header.actions" | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let file">
              <button class="button-details" (click)="selectFile(file)" mat-icon-button>
                <mat-icon color="primary">search</mat-icon>
              </button>

              <button class="button-replace"
                      *ngIf="canReplaceFile(file)"
                      mat-icon-button
                      color="primary"
                      (click)="openReplacementBox(file)">
                <mat-icon>edit</mat-icon>
              </button>

              <button class="button-delete"
                      *ngIf="canDeleteFile(file)"
                      mat-icon-button
                      color="accent"
                      (click)="deleteFile(file)">
                <mat-icon>clear</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="repositoriesDisplayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: repositoriesDisplayedColumns;"></mat-row>
        </mat-table>
      </slide-details-content>
      <slide-details-details id="file-details">
        <votation-details *ngIf="selectedFile && isVotation(selectedFile)" [file]="selectedFile" [allDoi]="allDois"
                          title="{{'parameters.repository.edit.file-grid.contest' | translate:getContest(selectedFile)}}">
        </votation-details>

        <election-details *ngIf="selectedFile &&  isElection(selectedFile)"
                          [file]="selectedFile"
                          title="{{'parameters.repository.edit.file-grid.contest' | translate:getContest(selectedFile)}}">

        </election-details>


      </slide-details-details>
    </slide-details>
  </mat-card-content>


</mat-card>


<div class="extra-buttons" *ngIf="isReplacementOpen">
  <button mat-raised-button fxFlex="none"
          id="cancelReplaceButton"
          (click)="isReplacementOpen = false">
    <mat-icon>cancel</mat-icon>
    {{"parameters.repository.edit.actions.replace.cancel-button"| translate | uppercase}}
  </button>
</div>
