<!--
  ~ #%L
  ~ chvote-bo
  ~ %%
  ~ Copyright (C) 2016 - 2019 République et Canton de Genève
  ~ %%
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  ~ #L%
  -->

<h2>{{'voting-period.selected-electoral-authority-key.key.info-title' | translate}}</h2>
<div class="fields">
  <div class="field">
    <span class="readonly-label">{{'voting-period.selected-electoral-authority-key.key.label' | translate}}</span>
    <span class="readonly-value" id="key_label">{{ key.label }}</span>
  </div>
  <div class="field">
    <span class="readonly-label">{{'voting-period.selected-electoral-authority-key.key.hash' | translate}}</span>
    <span class="readonly-value" id="key_hash">{{ key.keyHash }}</span>
  </div>
  <div class="field">
    <span class="readonly-label">{{'voting-period.selected-electoral-authority-key.key.login' | translate}}</span>
    <span class="readonly-value" id="key_login">{{ key.login }}</span>
  </div>
  <div class="field">
    <span class="readonly-label">{{'voting-period.selected-electoral-authority-key.key.import-date' | translate}}</span>
    <span class="readonly-value" id="key_importDate">{{ key.importDate | date:'dd.MM.yyyy' }}</span>
  </div>
</div>
