<!--
  ~ #%L
  ~ chvote-bo
  ~ %%
  ~ Copyright (C) 2016 - 2019 République et Canton de Genève
  ~ %%
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  ~ #L%
  -->

<mat-card id="productionDeploymentSummaryCard" class="site-card">
  <mat-card-header>
    <mat-card-title class="site-name">
      {{'deployment-summary.production.name' | translate | uppercase}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column">

    <!-- status messages -->
    <div fxLayout fxLayoutGap="1rem" class="site-info italic">
      <mat-icon fxFlexAlign="center">
        {{deploymentStatusIcon}}
      </mat-icon>

      <span id="deploymentStatusMessage"
            fxFlexAlign="center"
            [class.site-error]="operationStatus.configurationStatus.state === 'DEPLOYMENT_REFUSED'">
            {{inDeploymentStatusMessage}}
      </span>
    </div>

    <!-- validation buttons -->
    <ng-container *roles="['DEPLOYMENT_TARGET_SIMULATION', 'DEPLOYMENT_TARGET_REAL']">
      <div
        *ngIf="userBelongsToOperationManagementEntity &&
            operationStatus.configurationStatus.state == 'DEPLOYED' &&
            operationStatus.deploymentTarget === 'NOT_DEFINED'">
        <mat-divider></mat-divider>
        <div fxLayout fxLayoutGap="2rem" fxLayoutAlign="center" style="margin-top: 1rem;">
          <action-card
            *roles="['DEPLOYMENT_TARGET_SIMULATION']"
            color="primary"
            icon="assignment"
            buttonId="targetSimulationDeploymentButton"
            buttonLabel="deployment-summary.production.target.simulation.button"
            (action)="targetDeploymentInSimulation()">
          </action-card>

          <action-card
            *roles="['DEPLOYMENT_TARGET_REAL']"
            color="primary"
            icon="flight"
            buttonId="targetRealDeploymentButton"
            buttonLabel="deployment-summary.production.target.real.button"
            (action)="targetDeploymentInReal()">
          </action-card>
        </div>
      </div>
    </ng-container>

    <!-- production status messages -->
    <div *ngIf="hasInProductionStatusMessage">
      <mat-divider></mat-divider>
      <div fxLayout fxLayoutGap="1rem" class="site-info italic" (click)="toggleDetails()"
           [class.clickable]="hasDetails()">
        <mat-icon fxFlexAlign="center" *ngIf="productionStatusIcon">
          {{productionStatusIcon}}
        </mat-icon>

        <mat-progress-spinner
          mode="indeterminate" id="creation-progress-spinner" *ngIf="isInProgress" strokeWidth="5" diameter="25">
        </mat-progress-spinner>

        <span id="productionStatusMessage"
              fxFlexAlign="center"
              [class.site-error]="isProductionStatusInError"
              [innerHtml]="inProductionStatusMessage">

            </span>

      </div>


      <voting-material-creation-progress
        *ngIf="operationStatus.votingMaterialStatus.state === 'CREATION_IN_PROGRESS'"
        [class.faded]="!showDetails">
      </voting-material-creation-progress>


    </div>

    <!-- site access links -->
    <div *ngIf="displayLinks" fxLayout fxFill fxLayoutAlign="end">
      <mat-divider></mat-divider>
      <button color="primary" *ngIf="isProdSiteAccessible" (click)="goToVoteReceiver" mat-button>
        <mat-icon>language</mat-icon>
        {{'deployment-summary.production.link.site' | translate | uppercase}}
      </button>

      <button mat-button *ngIf="canDownloadNonPrintableTestingCards" (click)="downloadNonPrintableTestingCards()"
              id="non-printable-test-cards">
        <mat-icon>recent_actors</mat-icon>
        {{'deployment-summary.production.link.voting-cards' | translate | uppercase}}
      </button>

    </div>

  </mat-card-content>
</mat-card>
