/*!
 * #%L
 * chvote-bo
 * %%
 * Copyright (C) 2016 - 2019 République et Canton de Genève
 * %%
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 * #L%
 */

@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';
@import '~@mat-datetimepicker/core/datetimepicker/datetimepicker-theme.scss';
@import '~chvote-common-theme/styles/chvote';
@import '~chvote-common-theme/styles/theme';
@import 'app/shared/header/header.component.scss-theme';
@import 'app/shared/grouped-grid/grouped-grid.component.scss-theme';
@import 'app/shared/upload-input/upload-input.component.scss-theme';
@import 'app/shared/action-card/action-card.component.scss-theme';
@import 'app/shared/completable-card/completable-card.component.scss-theme';
@import 'app/operation/parameters/parameter-edit/parameters-edit.component.scss-theme';
@import 'app/operation/voting-material/register/register-upload/register-upload.component.scss-theme';
@import 'app/operation/operation-management.component.scss-theme';
@import 'app/shared/edit-with-side-bar/edit-with-side-bar.component.scss-theme';
@import 'app/operation/deployment-summary/deployment-summary.component.scss-theme';
@import 'app/operation/parameters/parameters-notification/parameters-notification.component.scss-theme';
@import 'app/operation/parameters/election-page-properties/election-page-properties-model-list.component.scss-theme';

@include mat-core();

@mixin custom-components-theme($theme) {
  @include header-component-theme($theme);
  @include grouped-grid-component-theme($theme);
  @include upload-input-component-theme($theme);
  @include action-card-component-theme($theme);
  @include parameter-card-component-theme($theme);
  @include parameters-edit-component-theme($theme);
  @include register-upload-component-theme($theme);
  @include operation-management-component-theme($theme);
  @include edit-with-side-bar-component-theme($theme);
  @include deployment-summary-component-theme($theme);
  @include parameters-notification-component-theme($theme);
  @include election-page-properties-model-list-component-theme($theme);
}

/*
Consider putting those rules in the common css
 */
@mixin global-theme($theme) {
  $primary: map-get($theme, primary);

  .field-title {
    color: mat-color($primary, 700);
  }

  .sub-header {
    background-color: mat-color($primary, 50);
    font-size: 16px;
    font-weight: bold;
    padding: 0 5px;
    min-height: 35px;
    line-height: 35px;
    margin-top: 10px;
  }

  .read-only .sub-header {
    font-weight: normal;
  }

  .section-title {
    color: mat-color($primary, 600);
  }

  mat-header-cell, mat-cell {
    padding-left: 0.3em;
    padding-right: 0.3em;
  }

  .center .mat-sort-header-button {
    text-align: center !important;
  }

  .as-fixed-placeholder {
    color: rgba(0, 0, 0, 0.54);
  }

  .disabled {
    color: rgba(0, 0, 0, 0.54);
  }

  .mat-card-header-text {
    width: 100%;
    margin: 0;
  }

  mat-option mat-icon {
    top: 5px;
    position: relative;
  }

  voting-material-creation-progress .mat-expansion-panel-body {
    padding: 0 16px 10px;
  }

  .clickable {
    cursor: pointer;
  }

  .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
  }
}

.bo-theme {
  @include chvote-theme($chvote-theme);
  @include angular-material-theme($chvote-theme);
  @include covalent-theme($chvote-theme);
  @include mat-datetimepicker-theme($chvote-theme);
  @include custom-components-theme($chvote-theme);
  @include global-theme($chvote-theme)

}

html {
  font-size: 62.5%; // base size is 10px
}

.external-action {
  display: inline-block;
  .action-title {
    text-align: center;
    font-size: 1.6rem;
  }
  .action-link {
    text-align: center;
    mat-icon {
      vertical-align: middle;
    }
  }

  a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    span {
      text-decoration: underline;
    }
  }
}






