<!--
  ~ #%L
  ~ chvote-bo
  ~ %%
  ~ Copyright (C) 2016 - 2019 République et Canton de Genève
  ~ %%
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  ~ #L%
  -->

<ng-container *roles="['ADD_LOCALIZED_HIGHLIGHTED_QUESTION']">
  <div fxLayout fxLayoutGap="25px" class="parameter-input" id="localizedQuestionInputBox" *ngIf="languages.length > 0">
    <form [formGroup]="questionForm" novalidate>
      <div fxLayout fxLayoutGap="25px">
        <mat-form-field fxFlex="1 1 200px">
          <input matInput name="localizedQuestion" formControlName="localizedQuestion"
                 placeholder="{{'parameters.highlighted-question.form.fields.localized-question.placeholder' | translate}}"
                 maxlength="80" required>
          <mat-error>
            <default-errors [fieldName]="'localizedQuestion'" [form]="questionForm"></default-errors>
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="1 1 200px">
          <mat-select [placeholder]="'parameters.highlighted-question.form.fields.language.placeholder' | translate"
                      formControlName="language" required>
            <mat-option *ngFor="let lang of languages" [value]="lang.value">
              {{lang.labelKey | translate}}
            </mat-option>
          </mat-select>
          <mat-error>
            <default-errors [fieldName]="'language'" [form]="questionForm"></default-errors>
          </mat-error>
        </mat-form-field>
      </div>
    </form>

  <upload-input fxFlex="auto" placeholder="parameters.highlighted-question.form.fields.input-file.placeholder"
                [uploadUrl]="uploadUrl"
                [checkBeforeUpload]="checkBeforeUpload()"
                fileAccept=".pdf"
                uploadIcon="file_upload"
                uploadText="global.actions.import"
                progressText="global.upload-progress"
                (uploadDone)="processUploadResult($event)">
  </upload-input>


  </div>
</ng-container>

<localized-highlighted-question-list [editMode]="true"
                                     [question]="question"
                                     [operation]="operation"
                                     (onRemove)="removeLocalizedQuestion($event)">
</localized-highlighted-question-list>


<div class="mat-card-button-toolbar" fxLayout fxLayoutAlign="end" fxLayoutGap="2.5rem">
  <button mat-raised-button (click)="close()" color="primary" id="closeEdition">
    <mat-icon>reply</mat-icon>
    {{"parameters.highlighted-question.actions.close-edition-mode" | translate | uppercase}}
  </button>
</div>
