<!--
  ~ #%L
  ~ chvote-bo
  ~ %%
  ~ Copyright (C) 2016 - 2019 République et Canton de Genève
  ~ %%
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  ~ #L%
  -->

<div [hidden]="empty">

  <mat-table #table [dataSource]="dataSource" matSort id="localizedQuestionTable">


    <!-- Column definition for field localizedQuestion -->
    <ng-container matColumnDef="localizedQuestion">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{"parameters.highlighted-question.grid.header.localized-question" | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.localizedQuestion}}
      </mat-cell>
    </ng-container>

    <!-- Column definition for field language -->
    <ng-container matColumnDef="language">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{"parameters.highlighted-question.grid.header.language" | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.language}}
      </mat-cell>
    </ng-container>

    <!-- Column definition for field fileName -->
    <ng-container matColumnDef="fileName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{"parameters.highlighted-question.grid.header.file" | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a href="#" (click)="download($event, element)">{{element.fileName}}</a>
      </mat-cell>
    </ng-container>

    <!-- Column definition for field date -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{"parameters.highlighted-question.grid.header.date" | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.date | date:'dd.MM.yyyy'}}
      </mat-cell>
    </ng-container>


    <!-- Column definition for actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> {{"parameters.highlighted-question.grid.header.delete" | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" class="btn-delete" (click)="remove(element)"
                *roles="['DELETE_LOCALIZED_HIGHLIGHTED_QUESTION']">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

