<!--
  ~ #%L
  ~ chvote-bo
  ~ %%
  ~ Copyright (C) 2016 - 2019 République et Canton de Genève
  ~ %%
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  ~ #L%
  -->

<completable-card title="{{'admin.electoral-authority-key.card.title' | translate}}"
                  subtitle="{{'admin.electoral-authority-key.card.subtitle' | translate}}"
                  required="true"
                  [completed]="completed | async"
                  [inError]="false"
                  [readOnly]="readOnly"
                  [editSection]="['electoral-authority-key']">
  <div fxLayout="column" fxLayoutGap="2rem">
    <div fxLayout="column">
      <span class="readonly-label">{{'admin.electoral-authority-key.card.key-count' | translate}}</span>
      <span class="readonly-value" id="count">{{keys.length}}</span>
    </div>
  </div>
</completable-card>
