<!--
  ~ #%L
  ~ chvote-bo
  ~ %%
  ~ Copyright (C) 2016 - 2019 République et Canton de Genève
  ~ %%
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  ~ #L%
  -->

<mat-card id="documentEdit" class="parameter-edit" [class.read-only]="readOnly">
  <mat-card-header>
    <mat-card-title>{{'parameters.document.edit.title' | translate}}</mat-card-title>
    <mat-card-subtitle fxLayout="row" fxLayoutAlign="space-between">
      <span>{{'parameters.document.edit.subtitle' | translate}}</span>
      <span *ngIf="!readOnly">{{'global.forms.fields.required' | translate}}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="no-padding">

    <ng-container *roles="['SET_OPERATION_DOCUMENTATION']">

      <div fxLayout fxLayoutGap="25px" class="parameter-input" *ngIf="!readOnly && !allDocumentsAreImported">
        <form [formGroup]="documentForm" novalidate>
          <div fxLayout fxLayoutGap="25px">
            <mat-form-field fxFlex="1 1 200px">
              <mat-select [placeholder]="'parameters.document.edit.form.fields.type.placeholder' | translate"
                          formControlName="documentType"
                          (selectionChange)="updateLanguages()"
                          required>
                <mat-option *ngFor="let type of documentTypes" [value]="type.value">
                  {{type.labelKey | translate}}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="documentForm.get('documentType').touched && documentForm.get('documentType').hasError('required')">
                {{'global.forms.errors.required' | translate}}
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="1 1 200px">
              <mat-select [placeholder]="'parameters.document.edit.form.fields.language.placeholder' | translate"
                          formControlName="documentLanguage"
                          (selectionChange)="updateTypes()"
                          required>
                <mat-option *ngFor="let lang of languages" [value]="lang.value">
                  {{lang.labelKey | translate}}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="documentForm.get('documentLanguage').touched && documentForm.get('documentLanguage').hasError('required')">
                {{'global.forms.errors.required' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
        </form>

        <upload-input fxFlex="auto" placeholder="parameters.document.edit.form.fields.inputFile.placeholder"
                      [uploadUrl]="uploadUrl"
                      [checkBeforeUpload]="checkBeforeUpload()"
                      fileAccept=".pdf"
                      uploadIcon="file_upload"
                      uploadText="global.actions.import"
                      progressText="global.upload-progress"
                      (uploadDone)="processUploadResult($event)">
        </upload-input>
      </div>


    </ng-container>

    <mat-table [hidden]="!documents || documents.length === 0"
               [dataSource]="documentsDataSource" matSort
               id="documentsGrid">

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{"parameters.document.edit.grid.header.type" | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let file">{{file.type}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="language">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{"parameters.document.edit.grid.header.language" | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let file">{{file.language}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="file">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{"parameters.document.edit.grid.header.file" | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let file"><a href="#" (click)="download($event, file)">{{file.fileName}}</a></mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef>
          {{"parameters.document.edit.grid.header.delete" | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let file">
          <button mat-icon-button
                  color="accent"
                  (click)="deleteFile(file)">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="documentsDisplayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: documentsDisplayedColumns;"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>


<highlighted-question-list [operation]="operation" [readOnly]="readOnly"></highlighted-question-list>
