<!--
  ~ #%L
  ~ chvote-bo
  ~ %%
  ~ Copyright (C) 2016 - 2019 République et Canton de Genève
  ~ %%
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  ~ #L%
  -->

<div class="progress-popup">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let step of progress.steps" hideToggle="true" [disabled]="!step.stepStarted"
                         id="{{step.stepId}}">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'deployment-summary.voting-material.progress.steps.' + step.stepId | translate}}
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon *ngIf="step.stuck" color="warn" class="step_stuck"
                    matTooltip="{{ 'deployment-summary.voting-material.progress.steps.stuck' | translate}}">
            warning
          </mat-icon>

          <small-progress-spinner [percent]="step.percent"></small-progress-spinner>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="cc" id="cc_progress_{{cc.index}}" *ngFor="let cc of step.componentControlStepProgressions">
        <span class="cc-name">
          {{ 'deployment-summary.voting-material.progress.control-components.' + cc.index  | translate}}
        </span>
        <mat-icon *ngIf="cc.stuck" color="warn" class="cc_stuck"
                  matTooltip="{{ 'deployment-summary.voting-material.progress.control-components.stuck' | translate}}">
          warning
        </mat-icon>
        <small-progress-spinner [percent]="cc.percent"></small-progress-spinner>
      </div>

    </mat-expansion-panel>
  </mat-accordion>

</div>


