<!--
  ~ #%L
  ~ chvote-bo
  ~ %%
  ~ Copyright (C) 2016 - 2019 République et Canton de Genève
  ~ %%
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  ~ #L%
  -->

<div class="mappings">
  <div *ngFor="let ballot of allBallots" class="mapping" id="{{ballot}}">
    <div class="ballot-name">{{ballot}}</div>
    <div class="ballot-select">
      <mat-form-field *ngIf="!isOrphan(ballot)">

        <mat-select placeholder="{{'parameters.election-page-properties.edit.mapping.model-name' | translate  }}"
                    [value]="valueForBallot(ballot)" (selectionChange)="updateMapping(ballot, $event.value)"
                    [disabled]="readOnly || !userCanDoMapping()">
          <mat-option *ngFor="let model of models" [value]="model.id">
            {{ model.modelName }}
          </mat-option>

          <mat-option [value]="-1" *ngIf="valueForBallot(ballot)">
            <mat-icon color="warn">clear</mat-icon>
            {{'parameters.election-page-properties.edit.mapping.action.unmap' | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <ng-container *ngIf="isOrphan(ballot)">
        {{mappedModelNameForBallot(ballot)}}
        <button mat-button id="deleteButton" color="primary" *roles="['MAP_ELECTION_PAGE_PROPERTIES_MODEL_TO_BALLOT']"
                (click)="removeMapping(ballot)"
                [disabled]="readOnly">
          <mat-icon>delete</mat-icon>
          {{'parameters.election-page-properties.edit.mapping.action.delete' | translate}}
        </button>
      </ng-container>

    </div>
  </div>

</div>
